#root .sc-dQppl {
  background-color: transparent;
  border: 1px solid white;
  cursor: pointer;
}

.sc-dQppl:hover {
  transition: 0.6s ease-out;
  animation-name: blink;
  animation-timing-function: ease-in;
  animation-fill-mode: both;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

.dPaFXM{
  background: none !important;
}

.navbar-item{
  font-size: 18px;
  background-color: transparent;
  cursor: pointer;
  font-weight: 400 !important;
  display: flex;
  justify-content: center;
}

.navbar-item-dropdown-item{
  font-size: 18px;
}

.navbar-item-dropdown-item:hover{
  border-bottom: 1px solid white !important;
}

.sc-bkzZxe{
  box-shadow: 3px 3px 71px 0px rgba(60,77,230,0.6) !important;
}

.sc-tYoTV{
   width: 10vw !important;
   margin: 20px !important;
}

.navbar-item:hover {
  background: none !important;
  background-color: transparent !important;
  text-shadow: rgb(161 164 255) 0px 0px 12px;
}

.sc-gsTCUz, .sc-gtsrHT {
  display: flex;
  align-items: center;
}

@keyframes blink {
  0% {
    box-shadow: none;
  }
  10% {
    box-shadow: rgb(161 164 255) 0px 0px 15px 2px;
  }
  20% {
    box-shadow: none;
  }
  30% {
    box-shadow: rgb(161 164 255) 0px 0px 15px 2px;
  }
  40% {
    box-shadow: none;
  }
  50% {
    box-shadow: rgb(161 164 255) 0px 0px 15px 2px;
  }
  60% {
    box-shadow: none;
  }
  70% {
    box-shadow: rgb(161 164 255) 0px 0px 15px 2px;
  }
  80% {
    box-shadow: none;
  }
  90% {
    box-shadow: rgb(161 164 255) 0px 0px 15px 2px;
  }
  100% {
    box-shadow: none;
  }
}